/* You can add global styles to this file, and also import other style files */
html{
    font-size: 24px;
}
body{
    margin:0;
    color:#fff;
    background-image: url(assets/background2.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
a{
    text-decoration: none;
    color:#fff;
}

@keyframes ZoomIn{
    0%{
        opacity:0;
        transform:scale(0);
    }
    100%{
        opacity:1;
        transform: scale(1);
    }
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes SlideRight {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes SlideLeft {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes SlideTop {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes SlideBottom {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}