<div class="table-div">
  <div class="button_add_div">
    <a routerLink="/add/manufacturer"><button class="add_button">Dodaj producenta</button></a>
  </div>
  <div class="table_inner_div">
    <div class="table-responsive">
      <table class="table table-dark table-hovers">
        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Akcja</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          <ng-container *ngFor="let man of manufacturers">
            <tr>
              <td>{{ man.Name }}</td>
              <td class="action_buttons">
                <button (click)="ShowDialog(man)" class="delete_button">Usuń</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<dialog #deleteDialog class="delete_dialog">
  <form method="dialog">
    <div>
      <p></p>
      <button class="delete_button_dialog" type="submit">Usuń</button>
      <button class="cancel_button_dialog" type="reset">Anuluj</button>
    </div>
  </form>
</dialog>
<dialog #successDialog class="success_dialog">
  <div class="success_dialog_div">
    <div></div>
    <p>Pomyślnie usunięto producenta</p>
  </div>
</dialog>
