<table>
  <thead>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Date of manufacture</th>
    <th>Available Count</th>
    <th>Rental Cost</th>
    <th>Seats Count</th>
    <th>GearBox</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.Manufacturer}}</td>
      <td>{{car.Model}}</td>
      <td>{{car.DateOfManufacture}}</td>
      <td>{{car.AvailableCount}}</td>
      <td>{{car.SeatsCount}}</td>
      <td>{{car.GearBox}}</td>
      <td>{{car.Type}}</td>
    </tr>
  </tbody>
</table>