
<div class="edit-outer-div" *ngIf="car"> 
    <form [formGroup]="formModel" (ngSubmit)="formModel.valid && updateCar(car)">
        <h3>Edycja samochodu:</h3>
        <div class="edit-inner-div">
            <div class="half"> 
                <div class="form_input">
                    <label for="manufacturer">Producent:</label>
                    <select id="manufacturer" formControlName="manufacturer">
                        <option class="man_options" *ngFor="let manufacturer of manufacturers" [value]="manufacturer.Id">
                          {{ manufacturer.Name }}                   
                        </option>
                      </select>
                </div>                 
                <div class="form_input">
                    <label for="model">Model:</label>
                    <input id="model" formControlName="model" type="text">
                </div>
                <div class="form_input">
                    <label for="date_of_manufacture">Data produkcji:</label>
                    <input id="date_of_manufacture" formControlName="date_of_manufacture" type="date" min="2010-01-01" max="">
                </div>           
                <div class="form_input">
                    <label for="available_count">Liczba dostępnych:</label>
                    <input id="available_count" formControlName="available_count" type="number" min="0">
                </div>
            </div>
            <div class="half">
                <div class="form_input">
                    <label for="rental_cost">Koszt wynajmu:</label>
                    <input id="rental_cost" formControlName="rental_cost" type="number" min="0" max="2000">
                </div>
                <div class="form_input">
                    <label for="seats_count">Liczba miejsc:</label>
                    <!-- <input id="seats_count" formControlName="seats_count" type="number" min="2" max="7"> -->
                    <select id="seats_count" formControlName="seats_count" (change)="onTypeSeatsChange($event)">
                        <option value="" selected></option>
                        <option *ngFor="let seat of seats" [value]="seat">
                          {{ seat }}
                        </option>
                      </select>
                </div>
                <div class="form_input">
                    <label for="gearbox">Skrzynia biegów:</label>
                    <select formControlName="gearbox" id="gearbox">
                        <option value="Automatyczna">Automatyczna</option>
                        <option value="Manualna">Manualna</option>
                    </select>
                </div>
                <div class="form_input">
                    <label for="type">Typ:</label>
                    <!-- <input for="id" formControlName="type" type="text"> -->
                    <select id="type" formControlName="type" (change)="onTypeNameChange($event)">
                        <option value="" selected></option>
                        <option *ngFor="let name of type_names" [value]="name">
                          {{ name }}
                        </option>
                      </select>
                </div>      
            </div>
        </div>
            <div class="text-danger"> 
                <p *ngIf="controls['manufacturer'].errors?.['required']">Nazwa producenta jest wymagana!</p>
                <p *ngIf="controls['manufacturer'].errors?.['maxlength']">Nazwa producenta może mieć co najwyżej 50 znaków.</p>
                <p *ngIf="controls['manufacturer'].errors?.['minlength']">Nazwa producenta musi mieć conajmniej 3 znaki.</p>
                <p *ngIf="controls['manufacturer'].hasError('startsWithUppercase')">Nazwa producenta musi zaczynać się od wielkiej litery.</p>
                <p *ngIf="controls['manufacturer'].hasError('hasOnlyAlphanumeric')">Nazwa producenta może składać się tylko z znaków i cyfr.</p>
            </div>
            <div class="text-danger"> 
                <p *ngIf="controls['model'].errors?.['required']">Nazwa modelu jest wymagana!</p>
                <p *ngIf="controls['model'].errors?.['maxlength']">Nazwa modelu może mieć co najwyżej 50 znaków.</p>
                <p *ngIf="controls['model'].hasError('hasOnlyAlphanumeric')">Nazwa modelu może składać się tylko z znaków i cyfr.</p>
            </div>
            <div class="text-danger"> 
                <p *ngIf="controls['date_of_manufacture'].errors?.['required']">Data produkcji jest wymagana!</p>
                <p *ngIf="controls['date_of_manufacture'].hasError('validDate')">Data nie może być wcześniejsza niż 01.01.2010 ani późniejsza niż obecna data.</p>
            </div>
            <div class="text-danger"> 
                <p *ngIf="controls['available_count'].errors?.['required']">Liczba dostępnych samochodów jest wymagana!</p>
                <p *ngIf="controls['available_count'].errors?.['min']">Liczba dostępnych samochodów nie może być mniejsza od 0!</p>
            </div>
            <div class="text-danger"> 
                <p *ngIf="controls['rental_cost'].errors?.['required']">Koszt wynajęcia samochodu jest wymagany!</p>
                <p *ngIf="controls['rental_cost'].errors?.['min']">Koszt wynajęcia samochodu nie może być mniejszy od 0!</p>
                <p *ngIf="controls['rental_cost'].errors?.['max']">Koszt wynajęcia samochodu nie może być większy niż 2000!</p>
            </div>
            <div class="text-danger"> 
                <p *ngIf="controls['seats_count'].errors?.['required']">Liczba miejsc samochodu jest wymagana!</p>
                <p *ngIf="controls['seats_count'].errors?.['min']">Liczba miejsc nie może być mniejsza niż 2!</p>
                <p *ngIf="controls['seats_count'].errors?.['max']">Liczba miejsc nie może być większa niż 7!</p>
                <p *ngIf="controls['seats_count'].hasError('CorrectSeatsCount')">Podany typ samochodu nie może zawierać {{this.formModel.value.seats_count}} miejsc!</p>
            </div>
            <div class="text-danger"> 
                <p *ngIf="controls['type'].errors?.['required']">Typ samochodu jest wymagany!</p>
                <p *ngIf="controls['type'].hasError('startsWithUppercase')">Typ samochodu musi zaczynać się od wielkiej litery.</p>
                <p *ngIf="controls['type'].hasError('validType')">Wypożyczalnia nie oferuje samochodów o podanym typie.</p>
            </div>
        <div>
            <input type="submit" value="Zatwierdź">
        </div>
    </form>
</div>
