
<div *ngIf="res" class="res-details-container">
    <div class ="res-details-box">
        <div class="flex-row">
            <div class="user-info">
                <div class="info-header">
                    <p>Dane wynajmującego:</p>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Imię: </span>
                    <span class="detail-value">{{ res.User?.Name }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Nazwisko: </span>
                    <span class="detail-value">{{ res.User?.Surname }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">E-mail: </span>
                    <span class="detail-value">{{ res.User?.Email }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Numer telefonu: </span>
                    <span class="detail-value">{{ res.User?.PhoneNumber }}</span>
                </div>
            </div>
            <div class="car-info">
                <div class="info-header">
                    <p>Dane samochodu:</p>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Producent: </span>
                    <span class="detail-value">{{ res.Car?.Manufacturer?.Name }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Model: </span>
                    <span class="detail-value">{{ res.Car?.Model }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Data produkcji: </span>
                    <span class="detail-value">{{ res.Car?.DateOfManufacture }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Cena wynajmu: </span>
                    <span class="detail-value">{{ res.Car?.RentalCost| currency:'zł':'symbol':'1.2-2' }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Skrzynia biegów: </span>
                    <span class="detail-value">{{ res.Car?.GearBox ? 'Automatyczna' : 'Manualna' }}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Liczba miejsc: </span>
                    <span class="detail-value">{{ res.Car?.Type?.SeatsCount}}</span>
                </div>
                <div class="res-detail-item">
                    <span class="detail-label">Typ: </span>
                    <span class="detail-value">{{ res.Car?.Type?.Name}}</span>
                </div>
            </div>
        </div>
        <div class="res-info">
            <div class="info-header">
                <p>Dane rezerwacji:</p>
            </div>
            <div class="res-detail-item">
                <span class="detail-label">Data rozpoczęcia rezerwacji: </span>
                <span class="detail-value">{{ res.Start_of_reservation}}</span>
            </div>
            <div class="res-detail-item">
                <span class="detail-label">Data zakończenia rezerwacji: </span>
                <span class="detail-value">{{ res.End_of_reservation}}</span>
            </div>
            <div class="res-detail-item">
                <span class="detail-label">Koszt calkowity: </span>
                <span class="detail-value">{{res.Total_Cost| number :'1.2'}}zł</span>
            </div>
        </div>  
    </div>
</div>

<div class="back_button">
  <button (click)="BackFromDetails()">Wróć</button>
</div>
