<div class="table-div">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Producent</th>
          <th scope="col">Model</th>
          <th scope="col">Data produkcji</th>
          <th scope="col">Liczba dostępnych</th>
          <th scope="col">Koszt wynajęcia</th>
          <th scope="col">Liczba miejsc</th>
          <th scope="col">Skrzynia biegów</th>
          <th scope="col">Typ</th>
          <th scope="col">Akcja</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let car of cars">
        <tr>
          <td>{{car.Manufacturer}}</td>
          <td>{{car.Model}}</td>
          <td>{{car.DateOfManufacture}}</td>
          <td>{{car.AvailableCount}}</td>
          <td>{{car.RentalCost}}</td>
          <td>{{car.SeatsCount}}</td>
          <td>{{car.GearBox}}</td>
          <td>{{car.Type}}</td>
          <td>
            <button (click)="editCar(car)">Modyfikuj</button>
            <!--<a [routerLink]="['/modify',car.Id]" ><button (click)="editCar(car)">Modyfikuj</button></a>-->
            <a href="#"><button>Szczegóły/Wynajem</button></a>
            <a href="#"><button>Usuń</button></a>
          </td>     
        </tr>
        <tr *ngIf="carToEdit===car">
            <td colspan="9">
                <app-edit-car [car]="carToEdit" (carUpdated)="updateCarsList($event)"></app-edit-car>
            </td>
        </tr>       
    </ng-container>

      </tbody>
    </table>
  </div>
  <!--<app-edit-car [car]="carToEdit" (carUpdated)="updateCarsList($event)"></app-edit-car>-->
